node_modules
.env.local
.env
.env.local.example
GEMINI_SERVER_SETUP.md
MIGRATION_COMPLETE.md
PRESENTATION_FIXES_COMPLETE.md
PRESENTATION_FIXES_FINAL.md
PRESENTATION_SYSTEM_COMPLETE.md
dist/index.html
dist/*
FIREBASE_ANALYSIS_HISTORY.md
TESTING_FIREBASE_HISTORY.md
FIREBASE_SUBCOLLECTION_UPDATE.md
.gitignore
USER_EMAIL_INTEGRATION.md
GEMINI_SETUP.md
test-api.js
DODO_INTEGRATION_COMPLETE.md
documentation/** 